/****************
* Colour Scheme *
****************/
:root{
    --primary: #2BB3C0;
    --primary_light: #EAF7F9;
    --secondary: #EF6C35;
    --tertiary: #FAF7F2;
    --dark: #161C2E;
    --success: #69DE05;
    --error: #DE0E05;
    --text: #4A4A68;
    --subtle_text: #8C8CA1;
    --accent: #ECF1F4;
    --light: #FAFCFE;
}

/*************
* Typography *
*************/
header1{
    font-family: "Work Sans"
    weight: bold
    font-size: 64px
    letter-spacing: -2%
}

header2{
    font-family: "Work Sans"
    weight: bold
    font-size: 40px
    letter-spacing: -2%
}

header3{
    font-family: "Work Sans"
    weight: bold
    font-size: 24px
    letter-spacing: -2%
}

default-text-large{
    font-family: "Work Sans"
    weight: medium
    font-size: 24px
}

default-text{
    font-family: "Work Sans"
    weight: Medium
    font-size: 16px
    line-height: 75px
    line-height: 140%
}

default-text-bold{
    weight: bold
}

default-text-small{
    font-family: "Work Sans"
    weight: medium
    font-size: 14px
}

pre-title{
    font-family: "Work Sans"
    weight: bold
    font-size: 12px
    letter-spacing: 3%
}

button-text{
    font-family: "Work Sans"
    font-style: bold
    font-size: 16px
    Letter Spacing: 3%
}

ling-text{
    font-family: "Work Sans"
    weight: bold
    font-size: 16px
    decoration: underline
}


/************************
* Leaflet Customization *
************************/

.leaflet-popup-content-wrapper {
    color: var(--text)
    background: var(--accent);
    opacity: 0.9;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: static;
    left: 11.53%;
    right: 11.53%;
    top: 13.02%;
    bottom: 9.52%;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

hr {
    /* Hairline */
    background: var(--primary);
    border: none;
    height: 2px;
    /*left: calc(50% - 267px/2);
    top: calc(50% - 0px/2 + 22px);*/

}

.leaflet-popup-tip-container {
}

.leaflet-popup-tip-container .leaflet-popup-tip{
    color: var(--text)
    background: var(--accent);

}

.leaflet-container a.leaflet-popup-close-button{
    color: var(--primary);
    /*border: 1px solid var(--primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 18px;
    height: 18px;
    right: 4px;
    top: 4px;
    border-radius: 4px;*/
}

/**************************
* Bootstrap Customization *
**************************/

.btn-secondary {
    color: var(--primary);
    background: var(--primary_light);
    border-color: 1px solid var(--primary);
}
.btn-secondary:hover {
    color: var(--primary_light);
    background: var(--primary);
    border-color: var(--primary);
}
.btn-group-vertical { display:block; text-align: right; }
.btn-group-vertical .dropdown { float: none; }

/*************
* Custom CSS *
*************/
#nav-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0.8;
    z-index: 1;
}

/* footer location on map */
#footer {
    position:absolute;
    bottom: 5px;
    width: 100%;
}
/* size of map in background */
#map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
/* wrapper to display the map behind the ui elements*/
#map-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#button-wrapper {
    position: relative;
    left: 10px;
}

.depth-title-wrapper {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 115px;
    height: 24px;
    left: 8px;
    top: 8px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
}

.depth-btn-wrapper {
    /* Icon/Arrow */
    position: static;
    width: 24px;
    height: 24px;
    left: 91px;
    top: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
}

.depth-btn .icon-wrapper {
    /* Polygon 1 */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: -100%;

    /* Turquoise-10 */
    background: var(--primary_light);

    /* Turquoise */
    border: 1px solid var(--primary);
    box-sizing: border-box;
    border-radius: 2px;
    transform: rotate(-90deg);
}

.depth-container {
    /* Temperature Scale */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;

    position: absolute;
    width: 131px;
    height: 564px;
    left: 6px;
    top: 25%;

    /* Accent */
    background: var(--accent);
    opacity: 0.9;

    /* Turquoise-10 */
    border: 1px solid var(--primary_light);
    box-sizing: border-box;
    border-radius: 8px;
}

.depth-container .description {
    /* Depth in cm */
    position: static;
    width: 87px;
    height: 20px;
    left: 0px;
    top: 0px;

    /* identical to box height, or 20px */
    display: flex;
    align-items: center;
    color: var(--dark);


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 4px;
}

.depth-container .scale-container {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;

    position: static;
    width: 66px;
    height: 520px;
    left: 32.5px;
    top: 36px;

    background: #FFFFFF;

    /* Turquoise */
    border: 1px solid var(--primary);
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 4px rgba(43, 179, 192, 0.2);
    border-radius: 8px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}

.temperature-container {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;

    position: absolute;
    width: 136px;
    height: 676px;
    top: 25%;
    right: 6px;

    /* Accent */
    background: var(--accent);
    opacity: 0.9;
    /* Turquoise-10 */
    border: 1px solid var(--primary_light);
    border-radius: 8px;
}

.temperature-title-wrapper {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 120px;
    height: 40px;
    left: 8px;
    top: 8px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
}

.temperature-container .scale-container {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 12px;

    position: static;
    width: 72px;
    height: 616px;
    left: 32px;
    top: 52px;

    background: #FFFFFF;
    /* Turquoise */
    border: 1px solid var(--primary);
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 4px rgba(43, 179, 192, 0.2);
    border-radius: 8px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}

.temperature-container .description {
    /* Temperature in °C */
    position: static;
    width: 92px;
    height: 40px;
    left: 28px;
    top: 0px;

    /* or 20px */
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--dark);

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 4px;
}

.temperature-btn-wrapper {
    /* Icon/Arrow */
    position: static;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 32px;

    transform: rotate(-180deg);

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

.arrow-btn .icon-wrapper {
    /* Polygon 1 */
    position: absolute;
    left: 100%;
    right: -100%;
    top: 0%;
    bottom: 0%;

    /* Turquoise-10 */
    background: var(--primary_light);

    /* Turquoise */
    border: 1px solid var(--primary);
    box-sizing: border-box;
    border-radius: 2px;
    transform: rotate(90deg);
}

.timeline-container {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;

    position: absolute;
    width: 495px;
    height: 72px;
    left: 25%;
    bottom: 0;

    /* Turquoise */
    background: var(--primary);
    opacity: 0.9;
    /* Accent */
    border: 1px solid var(--accent);
    box-sizing: border-box;
    border-radius: 8px;
}

.timeline {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 1px 20px 0px;

    position: static;
    width: 305px;
    height: 56px;
    left: 182px;
    top: 8px;

    background: #FFFFFF;

    /* Turquoise */
    border: 1px solid #2BB3C0;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 2px rgba(43, 179, 192, 0.2);
    border-radius: 8px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.timeline-group {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 304px;
    height: 16px;
    left: 0px;
    top: 20px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.timeline-element {
    /* _Scale/Timeline Indicator */
    position: static;
    width: 48px;
    height: 16px;
    left: 192px;
    top: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 0px;
}

.timeline-element-line {
    position: relative;
    left: 66.67%;
    right: -33.33%;
    top: 43.75%;
    bottom: 56.25%;
    z-index:0;

    /* Turquoise */
    border: 2px solid var(--primary);
    transform: rotate(180deg);
}

.timeline-element-circle {
    height: 18px;
    width: 18px;

    position: relative;
    left: 150%;
    right: 0;
    top: -25%;
    bottom: 0;
    z-index:1;

    /* Light */
    background: var(--light);

    /* Turquoise */
    border: 2px solid var(--primary);
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
}