{% extends 'base_template.html' %}
{% load leaflet_tags %}
{% load static %}


{% block title %} Arctic Map {% endblock %}
{% block head_meta_page %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock head_meta_page %}

{% block head_css_page %}
    <link rel="stylesheet" type="text/css" href="https://cesium.com/downloads/cesiumjs/releases/1.93/Build/Cesium/Widgets/widgets.css">
    <!--<link rel="stylesheet" type="text/css" href="/static/Cesium/Widgets/widgets.css">
    <link rel="stylesheet" type="text/css" href="{% static 'Cesium/Widgets/widgets.css' %}">-->
    <style xmlns="http://www.w3.org/1999/html">
        .leaflet-container { height: 100%; overflow: hidden}
        {#.leaflet-tile { border: solid black 2px; }#}
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-geosearch@3.6.0/dist/geosearch.css"
    />
{% endblock head_css_page %}

{% block footer_javascript_page %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!--<script src="/static/Cesium/Cesium.js"></script>-->
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.93/Build/Cesium/Cesium.js"></script>
    <!-- <script type="module" src="{% static 'Cesium/Cesium.js' %}"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
    <script type="module" src="{% static 'acgmap/arctic_map.js' %}"></script>
    <!-- Make sure you put this AFTER leaflet.js, when using with leaflet -->
    <script src="https://unpkg.com/leaflet-geosearch@3.6.0/dist/geosearch.umd.js"></script>
    <!-- to get access from view in external js files -->
    {{grid_data|json_script:"grid_data"}}
    {{cg_data|json_script:"cg_data"}}

    <!-- js code for spherical map -->
    <script src="http://www.webglearth.com/v2/api.js"></script>
    <script>
        var positiveX = "{% static 'Cesium/Assets/Textures/SkyBox/tycho2t3_80_px.png' %}"
        var negativeX = "{% static 'Cesium/Assets/Textures/SkyBox/tycho2t3_80_mx.png' %}"
        var positiveY = "{% static 'Cesium/Assets/Textures/SkyBox/tycho2t3_80_py.png' %}"
        var negativeY = "{% static 'Cesium/Assets/Textures/SkyBox/tycho2t3_80_my.png' %}"
        var positiveZ = "{% static 'Cesium/Assets/Textures/SkyBox/tycho2t3_80_pz.png' %}"
        var negativeZ = "{% static 'Cesium/Assets/Textures/SkyBox/tycho2t3_80_mz.png' %}"

        function initialize() {
            var earth = new WE.map('earth_div');
            var data = JSON.parse(JSON.parse(document.getElementById('grid_data').textContent));
            WE.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png',{
                attribution: '© OpenStreetMap contributors'
            }).addTo(earth);
            console.log('grid data: ', data);
            var geoJsonArray = [];
            for (var i = 0; i < data.features.length; i++){
                geoJsonArray.push({"type": "Feature",
                    "properties": {"id": data.features[i].properties.id,
                                   "popupContent": " This is a Cell number: " + data.features[i].properties.id},
                    "geometry": {"type": "Polygon", "coordinates": [
                        [[data.features[i].properties.left, data.features[i].properties.top],
                        [data.features[i].properties.right, data.features[i].properties.top],
                        [data.features[i].properties.right, data.features[i].properties.bottom],
                        [data.features[i].properties.left, data.features[i].properties.bottom]]
                        ]}
                    });
            };
            console.log('geo json array: ', geoJsonArray);
        }
    </script>
{% endblock footer_javascript_page %}


{% block content %}
<div id="map-wrapper">
    <div id="cesiumContainer"></div>
    <div class="nav chart-container" id="tab-nav" style="display: none;">
        <ul class="nav nav-pills nav-jt">
            <li class="nav-item"><a class="nav-link active" id="bs-tab1" href="#first" data-toggle="tab">Trumpet Curve</a></li>
            <li class="nav-item"><a class="nav-link" id="close-btn" href="#" data-toggle="tab"><span class="material-icons md-18 close">close</span></a></li>
        </ul>
        <div class="tab-content" id="tab-content">
            <div id="first" class="tab-pane fade in active show">
                <div class="canvas-container" id="chart-container">
                    <canvas id="trumpetChart" height="190"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
   <!-- <body onload="initialize()">
        <div id="map-wrapper">
            <div id="earth_div"></div>


            <div id="map" class="map"></div>
            <div id="map">
                {% leaflet_map "main" %}
            </div>

        </div>
    </body>-->
{% endblock content %}
