{% extends 'base_template.html' %}
{% load static %}


{% block title %} Soil Temperature Map {% endblock %}
{% block head_meta_page %}

{% endblock head_meta_page %}

{% block head_css_page %}

{% endblock head_css_page %}

{% block footer_javascript_page %}

{% endblock footer_javascript_page %}

{% block Navbar %}
    {% with nav_tmpl="nav_header.html" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

<div class="container m-t-md" style="background: var(--accent)">
    <div class="row" role="main">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-main">
            <div class="bodytext">
                <h3 class="header3">Impressum und Kontakt</h3>
                <p>
                    <span>Muster structure</span>
                    <br>
                    <span>Information to owner of this site and how to contact them.</span>
                </p>
                <p>
                    <span>Address</span>
                    <br>
                    <span>Information to owner of this site and how to contact them.</span>
                </p>
                <p>
                    <span>Contact details</span>
                    <br>
                    <span>Information to owner of this site and how to contact them.</span>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}