{% extends 'base_template.html' %}
{% load leaflet_tags %}
{% load static %}


{% block title %} Soil Temperature Map {% endblock %}
{% block head_meta_page %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock head_meta_page %}

{% block head_css_page %}
    <style xmlns="http://www.w3.org/1999/html">
        .leaflet-container { height: 100%; overflow: hidden}
        {#.leaflet-tile { border: solid black 2px; }#}
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-geosearch@3.6.0/dist/geosearch.css"
    />
{% endblock head_css_page %}

{% block footer_javascript_page %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script type="module" src="{% static 'cgmap/basemap.js' %}"></script>
    <!-- Make sure you put this AFtER leaflet.js, when using with leaflet -->
    <script src="https://unpkg.com/leaflet-geosearch@3.6.0/dist/geosearch.umd.js"></script>
    {# to get access from view in external js files #}
    {{grid_data|json_script:"grid_data"}}
    {{context|json_script:"context"}}
    {{cg_data|json_script:"cg_data"}}

    <script type="text/Javascript">
        function isSelected(){
            results = document.querySelector;
            console.log('is selected func:', results);
        };

    </script>
{# jquery for scale animation #}
    <script>
        $('#depth-slider').on('click', function(){
            console.log( "Button depth-slider was clicked!" );
            $('#left-slider').toggleClass('depth-container-close');
            var icon = $('#depth_chevron');
            icon.toggleClass('left');
            if( icon.hasClass('left')){
                icon.text('chevron_left');
            } else {
                icon.text('chevron_right');
            }
        });

        $('#temperature-slider').on('click', function(){
            console.log( "Button temperature-slider was clicked!" );
            $('#right-slider').toggleClass('temperature-container-close');
            var icon = $('#temperature_chevron');
            icon.toggleClass('right');
            if( icon.hasClass('right')){
                icon.text('chevron_right');
            } else {
                icon.text('chevron_left');
            }
        });

        $('#close-btn').on('click', function(){
            console.log("container has been closed");
            document.getElementById('tab-nav').style.display = "none";
        });

        function open_graph(){
            console.log("container has been opened");
            var div = document.getElementById('tab-nav');
            if (div.style.display === "none") {
                div.style.display = "flex";
            } else {
                div.style.display = "none";
            }
        };

        $(document).ready(function() {
            var slider = document.getElementById('temp_scale');
            var tooltip = document.getElementById('tooltip');
            var $ruler = $('<div class="rangeslider__ruler" />');

            setValue = () => {
                const val = slider.value;
                const min = slider.min ? slider.min : 0;
                const max = slider. max ? slider.max: 100;
                const newValue = Number((val - min) * 100 / (max - min));
                const newPosition = 18 - (newValue * 0.17);
                console.log('new value in %: ', newValue);
                tooltip.innerHTML = `<span>${val}</span>`;
                tooltip.style.left = `calc(${newValue}% - (${newPosition}rem))`;
                tooltip.style.background = slider.style.background;
            };
            document.addEventListener("DOMContentLoaded", setValue);
            slider.addEventListener('input', setValue);
        });
    </script>
{% endblock footer_javascript_page %}


{% block content %}
    <div id="map-wrapper">
        <div id="map">
            {% leaflet_map "main" %}
        </div>
        <div class="depth-container left-transition" id="left-slider">
            <div class="depth-title-wrapper">
                <div class="description default-text-small">Tiefe in cm/m</div>
                <button class="btn btn-primary btn-sm" id="depth-slider" >
                    <span class="material-icons md-18 left" id="depth_chevron">chevron_left</span>
                </button>
            </div>
            <div class="scale-container">
                <div class="slider-container" id="depth">
                    <div class="scale-group-depth">
                        <form action="" method="get" id="load_data_form" style="margin-bottom: 8px;">
                            {% csrf_token %}
                            <input type="range" min="-14" max="0" step="1" value="-2" class="slider" id="depth_range">
                        </form>
                    </div>

                    <div class="scale-group-depth-text">
                        <span class="default-text-small">
                            1 cm<br> 5 cm<br> 10 cm<br> 20 cm<br> 50 cm<br> 1 m<br> 2 m<br> 3 m<br> 4 m<br> 5 m<br> 6 m<br> 7 m<br>
                            8 m<br> 9 m<br> 10 m </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav chart-container" id="tab-nav" style="display: none;">

            <ul class="nav nav-pills nav-jt">
                <li class="nav-item"><a class="nav-link active" id="bs-tab1" href="#first" data-toggle="tab">Jährliches Bodentemperatur Diagramm</a></li>
                <li class="nav-item"><a class="nav-link" id="bs-tab2" href="#second" data-toggle="tab">Bodentemperaturprofiel</a></li>
                <li class="nav-item"><a class="nav-link" id="bs-tab3" href="#third" data-toggle="tab">Tiefen-Zeit Diagramm</a></li>
                <li class="nav-item"><a class="nav-link" id="close-btn" href="#" data-toggle="tab"><span class="material-icons md-18 close">close</span></a></li>
            </ul>
            <div class="tab-content" id="tab-content">
                <div id="first" class="tab-pane fade in active show">
                    <div class="canvas-container" id="chart-container">
                        <canvas id="tempChart" height="190"></canvas>
                    </div>
                </div>
                <div id="second" class="tab-pane fade">
                    <div class="canvas-container" id="chart2-container" >
                        <canvas id="trumpetChart" height="190"></canvas>
                        <hr>
                        <div id="year_selector">
                            <input class="btn btn-secondary" type="button" name="year" id="year1" value="2000 - 2020">
                            <input class="btn btn-secondary" type="button" name="year" id="year3" value="2020 - 2040">
                            <input class="btn btn-secondary" type="button" name="year" id="year5" value="2040 - 2060">
                            <input class="btn btn-secondary" type="button" name="year" id="year7" value="2060 - 2080">
                            <input class="btn btn-secondary" type="button" name="year" id="year9" value="2080 - 2100">
                        </div>
                    </div>
                </div>
                <div id="third" class="tab-pane fade">
                    <div class="canvas-container" id="chart3-container" >
                        <canvas id="groundProfile" height="190"></canvas>
                    </div><!--
                    <div class="scale-container">
                        <div class="scale-group">
                            <div class="scale-element-group red">
                                <div class="rectangle opacity05"></div>
                            </div>
                            <div class="scale-element-group orange">
                                <div class="rectangle opacity05"></div>
                            </div>
                            <div class="scale-element-group yellow">
                                <div class="rectangle opacity05"></div>
                            </div>
                            <div class="scale-element-group green">
                                <div class="rectangle opacity05"></div>
                            </div>
                            <div class="scale-element-group blue">
                                <div class="rectangle opacity05"></div>
                            </div>
                        </div>
                        <div class="scale-group-text">
                            <span class="default-text-small" style="transform: rotate(90deg);">25<br> 20<br> 15<br> 10<br> 5<br></span>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="temperature-container right-transition" id="right-slider">
            <div class="temperature-title-wrapper">
                <div class="description default-text-small">Temperatur in °C</div>
                <button class="btn btn-primary btn-sm" id="temperature-slider">
                    <span class="material-icons md-18 right" id="temperature_chevron">chevron_right</span>
                </button>
            </div>
            <div class="scale-container">
                <div class="slider-container" id="temperature">
                    <div class="scale-group-temperature">
                        <input type="range" min="-14" max="0" step="0.1" value="0" class="slider" id="temp_scale" data-popup-enabled="true" orient="vertical">
                        <div class="sliderticks">
                            <p><span>3</span></p>
                            <p><span>4</span></p>
                            <p><span>5</span></p>
                            <p><span>6</span></p>
                            <p><span>7</span></p>
                            <p><span>8</span></p>
                            <p><span>9</span></p>
                            <p><span>10</span></p>
                            <p><span>11</span></p>
                        </div>
                        <div id="tooltip"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="timeline-container">
            <div class="btn-group btn-group-toggle justify-content-start" id="timeline-nav" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="previous" autocomplete="off" value="previous">
                    <span class="material-icons md-24">skip_previous</span>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="start" autocomplete="off" value="start">
                    <span class="material-icons md-24">play_arrow</span>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="next" autocomplete="off" value="next">
                    <span class="material-icons md-24">skip_next</span>
                </label>
            </div>
            <div class="timeline">
                <div class="timeline-group">
                    <div class="timeline-element" id="1-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-circle"></div>
                    </div>
                    <div class="timeline-element" id="2-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-circle"></div>
                    </div>
                    <div class="timeline-element" id="3-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-circle"></div>
                    </div>
                    <div class="timeline-element" id="4-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-circle"></div>
                    </div>
                    <div class="timeline-element" id="5-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-circle"></div>
                    </div>
                    <div class="timeline-element" id="6-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-arrow"></div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

{% endblock content %}