{% extends 'base_template.html' %}
{% load leaflet_tags %}
{% load static %}


{% block title %} Soil Temperature Map {% endblock %}
{% block head_meta_page %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock head_meta_page %}

{% block head_css_page %}
    <style>
        .leaflet-container { height: 100%; overflow: hidden}
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'cgmap/style.css' %}">
{% endblock head_css_page %}

{% block footer_javascript_page %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{% static 'cgmap/map.js' %}"></script>
    {# jquary for scale animation #}
    <script>
        $('#depth-slider').on('click', function(){
            console.log( "Button depth-slider was clicked!" );
            $('#left-slider').toggleClass('depth-container-open');
            var icon = $('#depth_chevron');
            icon.toggleClass('left');
            if( icon.hasClass('left')){
                icon.text('chevron_left');
            } else {
                icon.text('chevron_right');
            }
        });

        $('#temperature-slider').on('click', function(){
            console.log( "Button temperature-slider was clicked!" );
            $('#right-slider').toggleClass('temperature-container-open');
            var icon = $('#temperature_chevron');
            icon.toggleClass('right');
            if( icon.hasClass('right')){
                icon.text('chevron_right');
            } else {
                icon.text('chevron_left');
            }
        });
    </script>
{% endblock footer_javascript_page %}


{% block content %}
    <div id="map-wrapper">
        <div id="map">
            {% leaflet_map "main" %}
        </div>
        <div class="depth-container left-transition" id="left-slider">
            <div class="depth-title-wrapper">
                <div class="description default-text-small">Depth in cm</div>
                <button class="btn btn-primary btn-sm" id="depth-slider">
                    <span class="material-icons md-18 right" id="depth_chevron">chevron_right</span>
                </button>
            </div>
            <div class="depth-container scale-container">
                <div class="scale-group">
                    <div class="scale-element-group yellow">
                        <div class="rectangle opacity075"></div>
                        <div class="rectangle opacity05"></div>
                        <div class="rectangle opacity025"></div>
                        <div class="rectangle opacity015"></div>
                        <div class="rectangle opacity0"></div>
                    </div>
                    <div class="scale-element-group orange_brown">
                        <div class="rectangle opacity075"></div>
                        <div class="rectangle opacity05"></div>
                        <div class="rectangle opacity025"></div>
                        <div class="rectangle opacity015"></div>
                        <div class="rectangle opacity0"></div>
                    </div>
                    <div class="scale-element-group sand_brown">
                        <div class="rectangle opacity075"></div>
                        <div class="rectangle opacity05"></div>
                        <div class="rectangle opacity025"></div>
                        <div class="rectangle opacity015"></div>
                        <div class="rectangle opacity0"></div>
                    </div>
                    <div class="scale-element-group brown">
                        <div class="rectangle opacity075"></div>
                        <div class="rectangle opacity05"></div>
                        <div class="rectangle opacity025"></div>
                        <div class="rectangle opacity015"></div>
                        <div class="rectangle opacity0"></div>
                    </div>
                    <div class="scale-element-group dark_brown">
                        <div class="rectangle opacity075"></div>
                        <div class="rectangle opacity05"></div>
                        <div class="rectangle opacity025"></div>
                        <div class="rectangle opacity015"></div>
                        <div class="rectangle opacity0"></div>
                    </div>
                </div>
                <div class="scale-group-text">
                    <span class="default-text-small">0 10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240</span>
                </div>
            </div>
        </div>
        <div class="temperature-container right-transition" id="right-slider">
            <div class="temperature-title-wrapper">
                <div class="description default-text-small">Temperature in °C</div>
                <button class="btn btn-primary btn-sm" id="temperature-slider">
                    <span class="material-icons md-18 left" id="temperature_chevron">chevron_left</span>
                </button>
            </div>
            <div class="temperature-container scale-container">
                <div class="scale-group">
                    <div class="scale-element-group red">
                        <div class="rectangle opacity0"></div>
                        <div class="rectangle opacity015"></div>
                        <div class="rectangle opacity025"></div>
                        <div class="rectangle opacity05"></div>
                        <div class="rectangle opacity075"></div>
                    </div>
                    <div class="scale-element-group orange">
                        <div class="rectangle opacity0"></div>
                        <div class="rectangle opacity015"></div>
                        <div class="rectangle opacity025"></div>
                        <div class="rectangle opacity05"></div>
                        <div class="rectangle opacity075"></div>
                    </div>
                    <div class="scale-element-group yellow">
                        <div class="rectangle opacity0"></div>
                        <div class="rectangle opacity015"></div>
                        <div class="rectangle opacity025"></div>
                        <div class="rectangle opacity05"></div>
                        <div class="rectangle opacity075"></div>
                    </div>
                    <div class="scale-element-group green">
                        <div class="rectangle opacity0"></div>
                        <div class="rectangle opacity015"></div>
                        <div class="rectangle opacity025"></div>
                        <div class="rectangle opacity05"></div>
                        <div class="rectangle opacity075"></div>
                    </div>
                    <div class="scale-element-group blue">
                        <div class="rectangle opacity075"></div>
                        <div class="rectangle opacity05"></div>
                        <div class="rectangle opacity025"></div>
                        <div class="rectangle opacity015"></div>
                        <div class="rectangle opacity0"></div>
                    </div>
                    <div class="scale-element-group purple">
                        <div class="rectangle opacity075"></div>
                        <div class="rectangle opacity05"></div>
                        <div class="rectangle opacity025"></div>
                        <div class="rectangle opacity015"></div>
                        <div class="rectangle opacity0"></div>
                    </div>
                </div>
                <div class="scale-group-text">
                    <span class="default-text-small">38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0 -2 -4 -6 -8 -10 -12 -14 -16 -18 -20</span>
                </div>
            </div>
        </div>
        <div class="timeline-container">
            <div class="btn-group btn-group-toggle justify-content-start" id="timeline-nav" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="previous" autocomplete="off" value="previous">
                    <span class="material-icons md-24">skip_previous</span>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="start" autocomplete="off" value="start">
                    <span class="material-icons md-24">play_arrow</span>
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="next" autocomplete="off" value="next">
                    <span class="material-icons md-24">skip_next</span>
                </label>
            </div>
            <div class="timeline">
                <div class="timeline-group">
                    <div class="timeline-element" id="1-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-circle"></div>
                    </div>
                    <div class="timeline-element" id="2-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-circle"></div>
                    </div>
                    <div class="timeline-element" id="3-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-circle"></div>
                    </div>
                    <div class="timeline-element" id="4-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-circle"></div>
                    </div>
                    <div class="timeline-element" id="5-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-circle"></div>
                    </div>
                    <div class="timeline-element" id="6-timeline-element">
                        <div class="timeline-element-line"></div>
                        <div class="timeline-element-arrow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
