{% extends 'base_template.html' %}
{% load leaflet_tags %}
{% load static %}


{% block title %} Soil Temperature Map {% endblock %}
{% block head_meta_page %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock head_meta_page %}

{% block head_css_page %}
    <style>
        .leaflet-container { height: 100%; overflow: hidden}
    </style>
    <script src="{% static 'cgmap/map.js' %}"></script>
{% endblock head_css_page %}

{% block footer_javascript_page %}
    <link rel="stylesheet" type="text/css" href="{% static 'cgmap/style.css' %}">
{% endblock footer_javascript_page %}


{% block content %}
    <div id="map-wrapper">
        <div id="map">
            {% leaflet_map "main" %}
        </div>
        <div class="depth-container">
            <div class="depth-title-wrapper">
                <div class="depth-container description default-text-small">Depth in cm</div>
                <div class="depth-btn-wrapper">
                    <div class="depth-btn icon-wrapper">&#xe5cc;</div>
                </div>
            </div>
            <div class="depth-container scale-container"></div>
        </div>
        <div class="temperature-container">
            <div class="temperature-title-wrapper">
                <div class="temperature-container description default-text-small">Temperature in °C</div>
                <div class="temperature-btn-wrapper">
                    <div class="arrow-btn icon-wrapper">&#xe5cc;</div>
                </div>
            </div>
            <div class="temperature-container scale-container"></div>
        </div>
    </div>

{% endblock content %}
